{
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions"],
              "node": 6
            }
          }
        ],
        "react"
      ],
      "plugins": ["syntax-object-rest-spread", "transform-object-rest-spread"]
    },
    "build": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions"],
              "node": 6
            },
            "modules": false
          }
        ],
        "react"
      ],
      "plugins": [
        "external-helpers",
        "syntax-object-rest-spread",
        "transform-object-rest-spread"
      ]
    }
  }
}
